.buttonNormalChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.addDistribution {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 61px);
  letter-spacing: 1.4px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: 500;
}
.iconMaterialAddCircleOutli {
  position: absolute;
  top: 13px;
  left: 21px;
  width: 20px;
  height: 20px;
}
.buttonNormal {
  position: absolute;
  top: 269px;
  right: 62px;
  width: 228px;
  height: 48px;
  cursor: pointer;
  text-align: center;
}
.distributionsDetail11Child,
.distributionsDetail11Inner,
.distributionsDetail11Item {
  position: absolute;
  top: 399.53px;
  left: 141px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1377.5px;
  height: 2px;
}
.distributionsDetail11Inner,
.distributionsDetail11Item {
  top: 485.77px;
}
.distributionsDetail11Inner {
  top: 783.11px;
}
.rectangleDiv {
  position: absolute;
  top: 419.59px;
  left: 142px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 1396px;
  height: 50px;
  cursor: pointer;
}
.b,
.jun2023 {
  position: absolute;
  top: 434.87px;
  left: 164.58px;
  line-height: 18px;
  display: inline-block;
  width: 193px;
}
.b {
  top: 436.44px;
  left: 737px;
  width: 132px;
}
.pending {
  left: 441.15px;
}
.b1,
.pending,
.returnOfCapital {
  position: absolute;
  top: 436.44px;
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.returnOfCapital {
  left: 1048.42px;
}
.b1 {
  right: 142px;
}
.distributionsDetail11Child1 {
  position: absolute;
  top: 544.23px;
  left: 142px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 1396px;
  height: 50px;
  opacity: 0.5;
}
.b2,
.mar2023 {
  position: absolute;
  top: 559.74px;
  left: 164.58px;
  line-height: 18px;
  display: inline-block;
  width: 193px;
}
.b2 {
  top: 561.31px;
  left: 737px;
  width: 132px;
}
.closed {
  left: 441.15px;
}
.b3,
.closed,
.realizedGains {
  position: absolute;
  top: 561.31px;
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.realizedGains {
  left: 1048.42px;
}
.b3 {
  right: 142px;
}
.distributionsDetail11Child2 {
  position: absolute;
  top: 630.23px;
  left: 142px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 1396px;
  height: 50px;
  opacity: 0.5;
}
.b4,
.jun2022 {
  position: absolute;
  top: 645.98px;
  left: 164.58px;
  line-height: 18px;
  display: inline-block;
  width: 193px;
}
.b4 {
  top: 647.55px;
  left: 737px;
  width: 132px;
}
.closed1 {
  left: 441.15px;
}
.b5,
.closed1,
.dividend {
  position: absolute;
  top: 647.55px;
  line-height: 18px;
  display: inline-block;
  width: 132px;
}
.dividend {
  left: 1048.42px;
}
.b5 {
  right: 142px;
}
.distributionsDetail11Child3 {
  position: absolute;
  top: 716.23px;
  left: 142px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  width: 1396px;
  height: 50px;
  opacity: 0.5;
}
.b6,
.mar2022 {
  position: absolute;
  display: inline-block;
}
.mar2022 {
  top: 732.21px;
  left: 164.58px;
  line-height: 18px;
  width: 193px;
}
.b6 {
  left: 737px;
}
.b6,
.closed2,
.dividend1 {
  top: 733.78px;
  line-height: 18px;
  width: 132px;
}
.closed2 {
  position: absolute;
  left: 441.15px;
  display: inline-block;
}
.dividend1 {
  left: 1048.42px;
}
.b7,
.date,
.dividend1 {
  position: absolute;
  display: inline-block;
}
.b7 {
  top: 733.78px;
  right: 142px;
  line-height: 18px;
  width: 132px;
}
.date {
  top: calc(50% - 8px);
  left: 0;
  text-transform: uppercase;
  width: 32px;
}
.groupChild {
  position: absolute;
  top: calc(50% - 4.41px);
  right: 0;
  width: 12px;
  height: 7px;
}
.dateParent,
.status {
  position: absolute;
  left: 0;
}
.dateParent {
  height: 100%;
  top: 0;
  bottom: 0;
  width: 50px;
}
.status {
  width: calc(100% - 18px);
  top: calc(50% - 8px);
  text-transform: uppercase;
  display: inline-block;
}
.amountParent,
.statusParent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 362.5px);
  width: 64px;
}
.amountParent {
  left: calc(50% - 64.5px);
  width: 75px;
}
.type {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 33px;
}
.typeParent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 243.5px);
  width: 51px;
}
.ofInvestors {
  position: absolute;
  width: calc(100% - 19px);
  top: calc(50% - 8px);
  left: 0;
  text-transform: uppercase;
  display: inline-block;
}
.ofInvestorsParent {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 118px;
}
.groupParent {
  position: absolute;
  top: 376px;
  left: 157px;
  width: 1291px;
  height: 16px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.previousDistributions {
  position: absolute;
  top: 504px;
  left: 142px;
  font-size: var(--font-size-base);
}
.iconMetroExpandMore {
  position: absolute;
  top: 439.83px;
  right: 88.29px;
  width: 15.42px;
  height: 9.53px;
}
.iconMetroExpandMore1,
.iconMetroExpandMore2,
.iconMetroExpandMore3 {
  position: absolute;
  top: 567.78px;
  right: 88.29px;
  width: 15.42px;
  height: 9.53px;
}
.iconMetroExpandMore2,
.iconMetroExpandMore3 {
  top: 650.78px;
}
.iconMetroExpandMore3 {
  top: 737.01px;
}
.maskGroup35 {
  position: absolute;
  height: 100%;
  width: calc(100% - 135px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 135px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nexusHealthEquity {
  position: absolute;
  top: calc(50% + 6px);
  left: 146px;
  line-height: 24px;
}
.backArrowButton {
  position: absolute;
  top: calc(50% + 22px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup38 {
  position: absolute;
  width: calc(100% - 14px);
  top: calc(50% - 13px);
  right: 7px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  height: 27px;
  object-fit: cover;
}
.maskGroup38Wrapper {
  position: absolute;
  bottom: 22px;
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 75px;
  height: 46px;
}
.maskGroup35Parent,
.nexusHealthEquityFundParent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.nexusHealthEquityFundParent {
  width: calc(100% - 150px);
  right: 150px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Parent {
  width: 100%;
  right: 0;
}
.groupDiv {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1672px;
  height: 162px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.distributionsDetail11Child4 {
  position: absolute;
  top: 0;
  left: 80px;
  background-color: var(--color-aliceblue-100);
  width: 1520px;
  height: 178px;
}
.maskGroup351 {
  position: absolute;
  width: calc(100% - 116px);
  right: 0;
  bottom: 0;
  left: 116px;
  max-width: 100%;
  overflow: hidden;
  height: 177px;
  object-fit: cover;
}
.nexusHealthEquity1 {
  position: absolute;
  top: calc(50% - 33.5px);
  left: 228px;
  line-height: 48px;
}
.backArrowButton1 {
  position: absolute;
  top: calc(50% - 20.5px);
  left: 27px;
  width: 24px;
  height: 24px;
  opacity: 1;
  cursor: pointer;
}
.maskGroup381 {
  position: absolute;
  width: calc(100% - 26px);
  top: calc(50% - 27px);
  right: 13px;
  left: 13px;
  max-width: 100%;
  overflow: hidden;
  height: 54px;
  object-fit: cover;
}
.maskGroup38Container {
  position: absolute;
  top: calc(50% - 29.5px);
  left: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 149px;
  height: 92px;
}
.nexusHealthEquityFundGroup {
  position: absolute;
  height: 100%;
  width: calc(100% - 114px);
  top: 0;
  right: 114px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(10, 26, 39, 0.6),
    #0a1a27
  );
}
.maskGroup35Group {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1636px;
  height: 247px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.navbarbgIcon {
  position: absolute;
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  top: 0;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.userMenuIcon {
  position: absolute;
  top: calc(50% - 17px);
  right: 22px;
  width: 62px;
  height: 36px;
}
.groupIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 109.79px;
}
.t {
  letter-spacing: -0.06px;
}
.v {
  letter-spacing: -0.13px;
}
.alternativeInvestmentPlatforContainer {
  position: absolute;
  top: calc(50% - 11px);
  right: 19px;
  line-height: 12px;
}
.groupContainer {
  position: absolute;
  top: calc(50% - 19.7px);
  left: 22px;
  width: 261.22px;
  height: 39.4px;
}
.search {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 64px);
}
.iconactionsearch24px {
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
}
.searchParent {
  position: absolute;
  top: calc(50% - 17px);
  right: 102px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  font-family: var(--font-cresta);
}
.navbarbgParent {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1520px;
  height: 70px;
  font-family: var(--font-cresta-medium);
}
.path428Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 0.5px);
  top: 0;
  right: 0.5px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leftNavButtonChild,
.leftNavButtonInner {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
}
.leftNavButtonChild {
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro);
  width: 48px;
}
.leftNavButtonInner {
  left: 0;
  background-color: var(--color-deepskyblue-200);
  width: 6px;
}
.storefrontFill1Wght400Grad0Icon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 28.83px;
  bottom: 20px;
  max-height: 100%;
  width: 22.33px;
}
.leftNavButton {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 143px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.notificationsFill0Wght400GrIcon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 32px;
  bottom: 20px;
  max-height: 100%;
  width: 16px;
  opacity: 0.5;
}
.ellipseIcon {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 2px);
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.div {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% + 2px);
  letter-spacing: 0.8px;
  font-weight: 500;
}
.leftNavButton1 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 203px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.iconAwesomeTasks {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.7px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton2 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 217px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.manageAccountsFill0Wght400Icon {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.8px;
  height: 20px;
}
.leftNavButton3 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 97px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.homeStorageFill0Wght400GraIcon {
  position: absolute;
  right: 30.16px;
  bottom: 20px;
  width: 19.69px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton4 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 157px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.settingsFill0Wght400Grad0OIcon {
  position: absolute;
  top: calc(50% - 10px);
  right: 30.22px;
  width: 19.56px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton5 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 92px;
  left: 0;
  height: 60px;
}
.logoutFill0Wght400Grad0OpsIcon {
  position: absolute;
  top: 20px;
  right: 30.17px;
  width: 19.67px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton6 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 32px;
  left: 0;
  height: 60px;
}
.homeFill0Wght300Grad0Opsz4Icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 9.05px);
  width: 18.1px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton7 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 83px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.domainFill0Wght400Grad0OpsIcon {
  position: absolute;
  width: calc(100% - 57.78px);
  right: 28.76px;
  bottom: 20.19px;
  left: 29.01px;
  max-width: 100%;
  overflow: hidden;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton8 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 443px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.leftNavClosedChild {
  position: absolute;
  top: 798.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  width: 81px;
  height: 2px;
}
.closedMenuIconChild {
  top: 0;
  width: 22px;
}
.closedMenuIconChild,
.closedMenuIconInner,
.closedMenuIconItem {
  position: absolute;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  height: 2.5px;
}
.closedMenuIconItem {
  bottom: 0;
  width: 22px;
}
.closedMenuIconInner {
  top: calc(50% - 1.25px);
  width: 17px;
}
.chevronRightFill0Wght400GrIcon {
  position: absolute;
  height: 73.95%;
  width: 28.07%;
  top: 13.55%;
  right: 0;
  bottom: 12.5%;
  left: 71.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closedMenuIcon {
  position: absolute;
  top: 25px;
  left: 22.29px;
  width: 29.81px;
  height: 20px;
  opacity: 0.5;
}
.navDrawerLeft {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 80.5px;
  height: 960px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-azo-sans);
}
.component20949 {
  position: absolute;
  top: 848px;
  right: 4px;
  width: 74px;
  height: 74px;
}
.distributionsActivity {
  position: absolute;
  top: 266px;
  left: 142px;
  font-size: var(--font-size-9xl);
  line-height: 40px;
}
.distributionsDetail11 {
  position: relative;
  background-color: var(--color-aliceblue-100);
  width: 100%;
  height: 2014px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-cresta);
}
